[submodule "external/kompute"]
	path = external/kompute
	url = https://github.com/KomputeProject/kompute
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4.0
